{% extends 'base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content%}
<section id="detectionHero">
    <div class="detectionHero-container">
        <h1>{{cap}} </h1>

    </div>
</section><!-- #detection -->

<main id="main" class="container">
    {% if abstract %}
    <p class="py-3">{{abstract}}</p>
    {%endif%}

    {% with messagesX= get_flashed_messages(with_categories=true)%}
    {% if messagesX%}
    <div class="row py-2">
        {% for category,message in messagesX %}
        <div class="col-md-4 mx-auto px-3">
            <p class=" alert alert-{{category}}" role="alert">{{ message }}</p>
        </div>
        {% endfor %}


    </div>
    {% endif %}
    {% endwith %}

    <div class="row py-2">
        {% if olcekler1 %}
        <div class="col-md-6 mx-auto px-3 ">
            <h4 class="py-3 text-center">Detection scores using evaluation metrics</h4>
            <table class="table table-sm mx-auto table-hover ">
                <thead>
                    <tr>
                        <th scope="col">Metric</th>
                        <th scope="col" class="w-25">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in olcekler1.items() %}
                    <tr data-toggle="tooltip" data-placement="bottom" title="{{olcekMetin[key]}}">
                        <th scope="row">{{key}}</th>
                        <td>%{{"%2.2f"|format(value*100)}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {%endif%}

        {% if messages %}
        <div class="col-md-6 mx-auto px-3 ">
            <ul class="list-group">
                {% for key, value in messages.items() %}
                <li class="list-group-item list-group-item-{{value.type}} mb-3">
                    {{value.message}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {%endif%}
    </div>

    <div class="row py-2">
        <div class="btn-toolbar m-2 justify-content-center " role="toolbar">
            <div class="btn-group-md m-2 text-center " role="group" aria-label="Orjinal MRI Show / Hide">
                <button type="button" class="btn btn-outline-success mx-3  my-1 p-md-2 rounded"
                    onclick="showHide('predFile'); showHide('GTOverFile');showHide('GTFile');showHide('orjFile');">
                    Show / Hide All</button>
                {%if predFileName%} <button type="button" class="btn btn-outline-success mx-3 p-2 rounded"
                    onclick="showHide('predFile');">
                    Show / Hide Prediction MRI</button> {%endif%}
                {%if GTOverFileName%} <button type="button" class="btn btn-outline-success  mx-3 p-2 rounded"
                    onclick="showHide('GTOverFile');">
                    Show / Hide GT- Prediction Overlaps MRI</button>{%endif%}
                {%if GTFileName%}<button type="button" class="btn btn-outline-success  mx-3 p-2 rounded"
                    onclick="showHide('GTFile');">
                    Show / Hide GT MRI</button>{%endif%}
                {%if orjFile%}<button type="button" class="btn btn-outline-success mx-3 p-2 rounded"
                    onclick="showHide('orjFile');">
                    Show / Hide Orjinal MRI</button>{%endif%}
            </div>
        </div>
    </div>
</main>
<section id="detectionPre" class="container p-2 mx-auto">
    <div class="row py-2 justify-content-center ">
        {%if orjFile%}
        <div class="card  p-2 m-2 col-md-5 " id="orjFile">
            <a href="{{url_for('detecFile',filename=orjFile)}}" class="glightbox2"
                data-glightbox='Bottom; description:Original MRI Slice' id="predFile">
                <img id="imageResult" src="{{url_for('detecFile',filename=orjFile)}}" alt=""
                    class="img-fluid rounded shadow-sm mx-auto d-block w-100 ">
            </a>
            <div class="card-body">
                <h6 class="card-title text-center">
                    Original MRI Slice
                </h6>
            </div>
        
        </div>
        
        {%endif%}
        {%if GTFileName%}
        <div class="card  p-2 m-2 col-md-5 " id="GTFile">
            <a href="{{url_for('detecFile',filename=GTFileName)}}" class="glightbox2"
                data-glightbox='Bottom; description:Physician Selection Plaques' id="predFile">
                <img id="imageResult" src="{{url_for('detecFile',filename=GTFileName)}}" alt=""
                    class="img-fluid rounded shadow-sm mx-auto d-block">
            </a>
            <div class="card-body">
                <h6 class="card-title text-center">
                    Physician Selection Plaques (Ground Truth)
                </h6>
            </div>
        
        </div>
        
        {%endif%}
        {%if predFileName%}

        <div class="card  p-2 m-2 col-md-5  " id="predFile">
            <a href="{{url_for('detecFile',filename=predFileName)}}" class="glightbox2"
                data-glightbox='Bottom; description:Automatically Detected Plaques on MRI' id="predFile">
                <img id="imageResult" src="{{url_for('detecFile',filename=predFileName)}}" alt=""
                    class="img-fluid rounded shadow-sm mx-auto d-block">
            </a>
            <div class="card-body">
                <h6 class="card-title text-center">
                    Automatically Detected Plaques on MRI using DeepMSWeb
                </h6>
            </div>

        </div>
        {%endif%}

        {%if GTOverFileName%}
        <div class="card  p-2 m-2 col-md-5 " id="GTOverFile">
            <a href="{{url_for('detecFile',filename=GTOverFileName)}}" class="glightbox2"
                data-glightbox='Bottom; description:Overlap of Automatically Detected and Specialist Physician Selection Plaques'
                id="predFile">
                <img id="imageResult" src="{{url_for('detecFile',filename=GTOverFileName)}}" alt=""
                    class="img-fluid rounded shadow-sm mx-auto d-block">
            </a>
            <div class="card-body">
                <h6 class="card-title text-center">
                    Overlap of Automatically Detected using DeepMSWeb and Physician Selection Plaques
                </h6>
            </div>

        </div>

        {%endif%}




    </div>
</section>
{% endblock %}