{% extends 'base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content%}
<!-- ======= Detection Section ======= -->
<section id="detectionHero">
    <div class="detectionHero-container">
        <h1>{{cap}}</h1>
        {% if abstract1 %}
        <h2>{{abstract}}</h2>
        {%endif%}
    </div>
</section><!-- #detection -->

<main id="main">

    {% if messages %}
    <div class="row py-2">
        <div class="col-md-6 mx-auto px-3 ">
            <ul class="list-group">
                {% for key, value in messages.items() %}
                <li class="list-group-item list-group-item-{{value.type}} mb-1">
                    {{value.message}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {%endif%}
    <section id="followup" class="followup">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-md-3">
                    <i class="bi bi-file-zip"></i>
                    <a href="{{url_for('static',filename='testSet1.zip')}}">Example Set 1 </a>

                </div>
                <div class="col-md-3">
                    <i class="bi bi-file-zip"></i>
                    <a href="{{url_for('static',filename='testSet2.zip')}}">Example Set 2 </a>
                </div>
            </div>

            <div class="row py-4 mx-auto">
                <form action="{{fx}}" method="post" enctype="multipart/form-data">
                    <div class=" mx-auto">
                        <!-- Upload image input-->
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                            <input id="upload0" type="file"
                                onchange="showFileName(this,'upload0-label','MRI File : ');readURL(this);"
                                class="form-control-lg border-0 bg-dark" name="fname" required>
                            <label id="upload0-label" for="upload0" class="font-weight-light text-muted">Choose a MR Slice</label>
                        </div>

                        {%if json1%}
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                            <input id="uploadJson" type="file"
                                onchange="showFileName(this,'uploadJson-label','Json File : ');"
                                class="form-control-lg border-0 bg-dark" name="jsonfname">
                            <label id="uploadJson-label" for="uploadJson" class="font-weight-light text-muted">
                                Select a Grount-Trouth File (coco style) </label>
                        </div>
                        {%endif%}

                        <div class="input-group mb-3 px-5 py-2 mx-auto rounded-pill bg-success shadow-sm">
                            <input type="submit" class="btn btn-success rounded-pill px-4 w-100 justify-content-center"
                                value="Detect MS Lesions">
                        </div>

                    </div>
                </form>
                <!-- Uploaded image area-->
                <p class="font-italic text-black-50 text-center mt-2">The uploaded MR slice</p>
                <div class="image-area col-lg-8 mx-auto"><img id="imageResult" src="#" alt=""
                        class="img-fluid rounded shadow-sm mx-auto d-block">
                </div>
            </div>
        </div>

    </section>
</main>
{% endblock %}