{% extends 'base.html'%}

{% block title %}
{{title}}
{% endblock%}

{% block content%}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Welcome DeepMSWeb Platform</h1>
        <h2>"A Web-Based Decision Support System via Deep Learning for Automatic Detection of MS Lesions"</h2>
        <h2>Welcome to our web platform that detection of multiple sclerosis lesions in magnetic resonance
            images .</h2>

    </div>
</section><!-- #hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>Multiple Sclerosis</h2>
            </div>

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2 my-auto">
                    <img src="{{url_for('static',filename='img/about-imgg2.png')}}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                    <h3>Multiple sclerosis (MS) is a neurological disease that affects the nervous system.</h3>
                    <p>
                        This disease causes inflammation by
                        damaging myelin sheaths which surrounds and isolates nerve fibers in the central nervous system
                        (CNS). MS affects
                        the white and gray matter in the brain, spinal cord and optic nerve. In addition, MS is a
                        chronic inflammatory,
                        demyelinating and neurodegenerative CNS disease. Although the cause of MS is not known
                        precisely, it is believed to
                        involve a combination of genetic susceptibility, abnormalities in the immune system and
                        environmental factors that
                        combine to trigger disease.
                    </p>

                    <p> MS is one of the most common causes of non-traumatic diseases among young and middle-aged
                        adults. Healthcare costs
                        directly related to MS are estimated to be more than 10 billion dollars in the USA annually.
                        Moreover, it is known
                        that more than 2 million people worldwide have MS.In a worldwide study, it is stated that the
                        number of MS patients
                        increased from 2.3 million in 2013 to 2.8 million in 2020. It is seen that the number of people
                        with MS disease
                        varies by country. The rate of MS case is between 110-140 per 100.000 people in the northern
                        regions of the USA,
                        between 57-78 people in the southern regions, between 115-140 people in Western Europe, and
                        between 81-101 people in
                        Australia . In addition, it has been put forth by the studies that approximately 20 thousand
                        people die per year due
                        to MS disease.
                    </p>
                    <p>
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>Services available on our platform</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box ">
                    <div class="icon"><i class="bi bi-clipboard-check"></i></div>
                    <h4 class="title">MS Visualization</h4>
                    <p class="description">A service that displays MS plaques over the regions marked by physicians.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-clipboard-data"></i></div>
                    <h4 class="title">MS Detection</h4>
                    <p class="description">A service that detects MS plaques with deep learning network techniques.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="bi bi-file-richtext"></i></div>
                    <h4 class="title">Automatic MS Detection</h4>
                    <p class="description">A service that detects MS plaques from MRI images and calculates performance
                        with expert opinions. </p>
                </div>
     
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section class="call-to-action visually-hidden">
        <div class="container">

            <div class="text-center">
                <h3>Follow-Up</h3>
                <p>Change detection in Multiple Sclerosis plaques is of great importance for physicians. For the comfort
                    of the patients,
                    the change of MS plaques in each MRI scan helps to determine the course of recovery or progression
                    of the disease.</p>

            </div>

        </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Examples</h2>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Expert Opinion</li>
                        <li data-filter=".filter-card">Plaque Detection</li>
                        <li data-filter=".filter-web">Overlap</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-2.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-2.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">App 1</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-2.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-7.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-7.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3">Web 3</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-7.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-5.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-5.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2">App 2</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-5.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-10.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-10.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2">Card 2</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-10.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-8.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-8.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2">Web 2</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-8.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-4.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-4.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3">App 3</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-4.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-11.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-11.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1">Card 1</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-11.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-10.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-10.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3">Card 3</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-10.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="{{url_for('static',filename='img/portfolio/portfolio-7.jpg')}}" class="img-fluid"
                            alt="">
                        <div class="portfolio-info">
                            <h3><a href="{{url_for('static',filename='img/portfolio/portfolio-7.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1">Web 1</a>
                            </h3>
                            <div>
                                <a href="{{url_for('static',filename='img/portfolio/portfolio-7.jpg')}}"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 1"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio-details.html" title="Details"><i class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg visually-hidden ">
        <div class="container">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                        Can the system fully detect MS lesions?
                        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                    </div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            The system is designed to identify MS lesions to assist physicians. In the tests, it was
                            determined that it works with 86% DC similarity.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius
                        morbi enim
                        nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                            laoreet id
                            donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                            pellentesque elit
                            ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur
                        adipiscing
                        elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                            elementum
                            integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu
                            tincidunt.
                            Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed
                            odio morbi quis
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus.
                        Aliquam
                        eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                            laoreet id
                            donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                            pellentesque elit
                            ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec
                        nam
                        aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                            ante in. Nunc
                            vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
                            Purus
                            gravida quis blandit turpis cursus in
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus
                        ornare.
                        Varius vel pharetra vel turpis nunc eget lorem dolor? <i
                            class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer
                            malesuada
                            nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut
                            venenatis
                            tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas
                            egestas
                            fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container ">

            <div class="section-title">
                <h2>Project Team</h2>
                <p></p>
            </div>

            <div class="row gy-4 justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <img src="{{url_for('static',filename='img/team/emre1.jpg')}}" alt="">
                        <h4>Assoc. Dr. Emre DANDIL</h4>
                        <span>Advisor</span>
                        <p>
                            Bilecik Şeyh Edebali University<br> Faculty of Engineering<br> Computer Engineering
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <img src="{{url_for('static',filename='img/team/msy1.jpg')}}" alt="">
                        <h4>Mehmet Süleyman YILDIRIM</h4>
                        <span> &nbsp;</span>
                        <p>
                            Bilecik Şeyh Edebali University<br> Söğüt Vocational School<br> Computer Programming
                        </p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact ">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>To be informed about the development of the project, you can contact us for your suggestions or
                    support.</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="contact-about">
                        <h3>DeepMSWeb</h3>
                        <p>DeepMSWeb is a web application that detection of multiple sclerosis lesions in
                            magnetic resonance images .</p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info">
                        <div>
                            <i class="bi bi-geo-alt"></i>
                            <p>Faculty of Engineering<br> Gülümbe Campus<br> 11230 Bilecik, Turkey</p>
                        </div>

                        <div>
                            <i class="bi bi-envelope"></i>
                            <p>deepwebms@gmail.com</p>
                        </div>


                    </div>
                </div>

                <div class="col-lg-5 col-md-12 visually-hidden">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form"
                        aria-disabled="true">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Name" required
                                disabled>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-Mail"
                                required disabled>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required disabled>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Your Message" required
                                disabled></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading.</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. We thank you.</div>
                        </div>
                        <div class="text-center"><button type="submit" disabled>Sent</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Us Section -->

    <!-- ======= Map Section ======= -->
    <section class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1812.2598948512164!2d29.966723009809435!3d40.19024725249289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb9ad3c7816b17%3A0xc5e2a23702886c18!2zQmlsZWNpayDDnG5pdmVyc2l0ZXNpIEfDvGzDvG1iZSBZZXJsZcWfa2VzaQ!5e0!3m2!1sen!2sbg!4v1631139043345!5m2!1sen!2sbg"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section><!-- End Map Section -->

</main>

{% endblock%}